.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.125rem;
}

.title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.subtitle {
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.64);
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.artistImg {
    width: 6.25rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
